<!-- Step 3 Add Header -->
<%- include("partials/header.ejs")  %>

<% if(locals.randAdj && locals.randNoun){ %>

  <h3><%= randAdj %> <%= randNoun%></h3>

<% }else{ %>

  <h3>Welcome to the Band Generator</h3>

<%} %>

<form action="/submit" method="POST">
  <input type="submit" value="Generate Name" />
</form>

<%- include("partials/footer.ejs")%>